.App{
  height: 100vh;
  background-color: #364351;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedor-calculadora{
  width: 350px;
  height: 660px;
  padding: 18px;
  background-color: #2d3138;
  border-radius: 50px;
  border: 5px solid black;
}

.fila{
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
